{
	"plugins": [
		[
			"prismjs",
			{
				"languages": [
					"javascript",
					"json", 
					"typescript",
					"sell"
				],
				"plugins": [
					"line-numbers",
					"show-language",
					"autolinker",
					"copy-to-clipboard"
				],
				"theme": "okaidia",
				"css": true
			}
		]
	]
}